<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>372363936392-t8lto6o14npo8o6pk5dmqdmg7gv9ouf5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372363936392-t8lto6o14npo8o6pk5dmqdmg7gv9ouf5</string>
	<key>API_KEY</key>
	<string>AIzaSyDu1lb_A01XndlxMFhoMTg74yBs4hLbzeE</string>
	<key>GCM_SENDER_ID</key>
	<string>372363936392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.safarirally2023</string>
	<key>PROJECT_ID</key>
	<string>safari-rally-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>safari-rally-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372363936392:ios:f7d390a6804b4c81a8953d</string>
</dict>
</plist>